/*---Reset to remove browser defaults---*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

/*---Main---*/
body {
		background-color: #FCFCFC;
		font-family: Georgia;
}

@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair_displayitalic';
    src: url('fonts/playfairdisplay-italic-webfont.eot');
    src: url('fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vidaloka_regular';
    src: url('fonts/vidaloka-regular-webfont.eot');
    src: url('fonts/vidaloka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vidaloka-regular-webfont.woff2') format('woff2'),
         url('fonts/vidaloka-regular-webfont.woff') format('woff'),
         url('fonts/vidaloka-regular-webfont.ttf') format('truetype'),
         url('fonts/vidaloka-regular-webfont.svg#vidaloka_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul {
	margin: 0;
	text-align: center;
}

li {
	display: inline;
	margin: 5%;
}

a:link {
text-decoration:none;
color: #FF83B8;
max-width:100%;
}
a:visited {
text-decoration:none;
color: #000;
}
a:hover {
text-decoration:none;
opacity: .8;
color: #AAAAAA;
}

/*---Header---*/
.page-header h1 {
	color: #FF80B2;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 10px;
	font-family: 'playfair_displayitalic';
}

/*---Nav---*/
.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FCFCFC;
  border-top: 2px solid #FF80B2;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'playfair_displayitalic'
}

.nav a:visited {
text-decoration:none;
color: #FF83B8;
}

.nav a:hover {
text-decoration:none;
opacity: .8;
color: #AAAAAA;
}

/*---Content---*/
.content {
	margin-bottom: 5%;
}

.portfolio-item {
	text-align: center;
}

.portfolio-item p.btn {
		margin: 0;
	}
.portfolio-item p.btn a {
		display: block;
		padding: 7px 0 0 0;
		text-align: center;
		font:.75em 'montserratregular', sans-serif; 
		text-transform: uppercase;
		letter-spacing:1px;
		text-decoration: none;
	}

/*---Columns---*/
.col1, .col2, .col3 {
	float: left;
	background-color: transparent;
	margin-bottom: 1em;
	margin-left: 3%;
	width: 30%;
}

.content p {
	text-align: justify;
}

/*---Contact Form---*/
.form {
	border: 1px solid #000000;
	margin-right: 35%;
	margin-left: 35%;
	padding: 2%;
	text-align: center;
	font:.75em 'montserratregular', sans-serif;
	color:#111;
	text-transform:uppercase;  
	letter-spacing:1px;
}

.form-name {
	height: 1em;
    width: 65%;
    padding: 5px;
    text-indent: 5px;
    border: 1px solid #000;
}

.form-message {
	height: 10em;
    width: 97%;
    padding: 5px;
    text-indent: 5px;
    border: 1px solid #000;
}

.form-submit {
	border:1px solid #111 !important; 
	background:#111 !important; 
	color:#fff !important; 
	border-radius: 0 !important;
	text-transform:uppercase; 
	font:10px 'montserratregular', sans-serif !important; 
	letter-spacing:1px;
	width:66px !important;
}

/*---About Section---*/
.about {
	background: transparent;
	height: relative;
	width: 35%;
	float: left;
	padding: 5px;
	font-size: .8em;
	letter-spacing: .25px;
	text-align: justify;
}

.about img{
	background: transparent;
	height: relative;
	width: 100%;
	float: left;
	padding: 5px;
	border-radius: 50%;
}

/*---Social Media Buttons---*/
.social-buttons {
	width: 25%;
	float: right;
	padding: 10px;
}

.social-buttons img{
	height: 2em;
	width: 2em;
}

.social-buttons a:hover{
	opacity: .8;
}

/*---Footer---*/
.footer {
	background: transparent;
	color: #FF80B2;
	clear: both;
	text-align: center;
	padding: 5px;
	font:13px 'vidaloka_regular';
}