body {
		background-image: url("images/paisley.png");
		background-color: #FCFCFC;
		font-family: Arial;
}

.page-header h1 {
	color: #FF80B2;
	text-align: center;
	padding-top: 75px;
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FCFCFC;
  border-top: 2px solid #FF80B2;
  padding-top: 1em;
  padding-bottom: 1em;
}

.col1, .col2, .col3 {
	float: left;
	background-color: transparent;
	margin-bottom: 1em;
	margin-left: 3%;
	width: 30%
}

.about {
	background: transparent;
	height: relative;
	width: 50%;
	float: left;
	padding: 5px;
}

.about img{
	background: transparent;
	height: relative;
	width: 50%;
	float: left;
	padding: 5px;
}

.social-buttons {
	width: 25%;
	float: right;
	padding: 10px;
}

.footer {
	background: transparent;
	color: #FF80B2;
	clear: both;
	text-align: center;
	padding: 5px;
}

ul {
	margin: 0;
	text-align: center;
}

li {
	display: inline;
	margin: 5%;
}

a {
	text-decoration: none;
	color: #FF83B8;
}